{#{% asset 'ckanext-wikidata/myDisplay-js'%}#}

{% set destination_url = h.url_for('wikidata.generate_wikilink', package_name = pkg.get('id'), _external=True) %}
{% set wikiinformationlink = h.wikidata_link(package_name= pkg.get('id'))  %}

<input type="hidden" id="package_id" value="{{ pkg_dict.id }}">
<input type="hidden" id="ajax_url" value="{{ h.url_for('wikidata.generate_wikilink', package_name = pkg_dict.id, _external=True) }}">

<div>
   <script src="{% url_for_static('statics/myDisplay.js') %}"> </script>
   <div id="display_wiki_info">
     <img src="/statics/Reload-1s-200px.gif" alt="reload" width="25px" height="25px">
   </div>
</div>



