
{% set destination_url = h.url_for('wikidata.generate_wikilink', package_name = pkg.get('id'), _external=True) %}
{% set wikiinformationlink = h.wikidata_link(package_name= pkg.get('id'))  %}

<input type="hidden" id="get_url" value="{{destination_url}}">
<input type="hidden" id="package_id" value="{{pkg.id}}">

<section class = "chemical-info">
    <h2> WikiData Link </h2>
    <div>
        {% if wikiinformationlink %}

            {% for link in wikiinformationlink %}
                <p> Wikiinformation Link: <a href="{{ link }}" target="_blank"> {{ link }}</a> </p>
            {% endfor %}

        {% else %} <p> {{ _('No wiki information') }}</p>

        {% endif %}
    </div>
</section>


